<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="SergMSA">
  <link rel="shortcut icon" href="/img/logo.png">
  <title>{% block title %}Avrora-Games{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!--<link href="jumbotron.css" rel="stylesheet">-->

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

  <style>
    body{
      padding-top: 100px;
      margin-bottom: 100px;
    }
    .loginbutton,.logoutbutton{
      outline:none !important;
    }
    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #f5f5f5;
    }
  </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Avrora-Games</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if menu == 'shop' %}  class="active" {% endif %}><a href="{{ path('avrora_shop_homepage') }}">Магазин</a></li>
        <li><a href="/library">библиотека</a></li>
        <li><a href="/msg">Обратная связь</a></li>
        
      </ul>
      {% block auth %}
      <form class="navbar-form navbar-right loginfrm" role="form">
        <div class="form-group">
          <input type="text" placeholder="ID-аттракциона" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Пароль" class="form-control">
        </div>
        <button type="submit" class="btn btn-success loginbutton">Войти</button>
      </form>
      
      <form class="navbar-form navbar-right logoutfrm" role="form" style="display:none;margin-right: 0px;">
        <div class="form-group text-primary">
          Аттракцион: 1548
        </div>
        <button type="submit" class="btn btn-danger logoutbutton">Выйти</button>
      </form>
      {% endblock %}
      
    </div><!--/.navbar-collapse -->
  </div>
</div>
<div class="container">
{% block body %}
{% endblock %}
</div>

<script>
$(document).ready(function(){
  $(".loginbutton").click(function(event){
    event.preventDefault(); 
    $(".loginfrm").hide();
    $(".logoutfrm").show();
  });
  
  $(".logoutbutton").click(function(event){
    event.preventDefault(); 
    $(".logoutfrm").hide();
    $(".loginfrm").show();
  });
  
});
</script>
</body>
</html>